<!doctype html>
<html class="no-js" lang="{{ site.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>test</title>

  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>

<div class="logo">
  <img src="assets/img/logo.svg" alt="">
</div>
<div class="shape1">
  <div class="title">
    GOAL!
  </div>
  <div class="card">
    <div class="card-shirt">
      <img src="/assets/img/shirt1.png" alt="">
    </div>
    <div class="card-info">
      <div class="card-info__num">73'</div>
      <div class="card-info__name">LEWANDOWSKI</div>
    </div>
  </div>
</div>
<div class="shape2">
  <div class="score">
    <div class="score__time">&#8226; 73'</div>
    <div class="score-num">
      <div class="score-num__l">3</div>
      <div class="score-num__d">-</div>
      <div class="score-num__r">2</div>
    </div>
  </div>
  <div class="card card-l">
    <div class="card-shirt">
      <img src="/assets/img/shirt1.png" alt="">
    </div>
  </div>
  <div class="card card-r">
    <div class="card-shirt">
      <img src="/assets/img/shirt2.png" alt="">
    </div>
  </div>
  <div class="goals">
    <ul class="goals-l">
      <li>24’ COMAN</li>
      <li>50’ GNABRY</li>
      <li>73’ LEWANDOWSKI</li>
    </ul>
    <ul class="goals-r">
      <li>07’ REUS</li>
      <li>48’ BELLINGHAM</li>
    </ul>
  </div>
  <div class="times">
    <div class="times__cards">
      <div class="card-small">
        <div class="card-small__num">1</div>
        <div class="card-small__cont">1.30</div>
      </div>
      <div class="card-small">
        <div class="card-small__num">x</div>
        <div class="card-small__cont">1.90</div>
      </div>
      <div class="card-small">
        <div class="card-small__num">2</div>
        <div class="card-small__cont">3.80</div>
      </div>
    </div>
    <div class="times__sub">
      NEW ODDS
    </div>
  </div>
</div>
<div class="shape3">
  <div id="hexContainer" class="hex-container">
    <div class="hexagon"></div>
  </div>
</div>

<script src="/assets/js/app.js"></script>
</body>
</html>
